.top{
      width:100%;
      height:100px;
      margin:0 auto; 
      background:black;
      color:white;
    }

.middle{
      border: 1px solid;
      width: 900px;
      margin:10px auto;
      height:auto;
      background: white;
    }
  